<html>

<center>
<h1>Enquiry</h2>
<form method="post">
    {% csrf_token %}
    <p><label for="">name</label>
    <input id="name" type="text" name="name" maxlength="100" required></p>
    <p><label for="">email</label>
    <input name="email" id="email" required></p>
    <p><label for="">Phone</label>
    <input name="phone" id="phone" required></p>
    <p><label for="">message</label>
    <input name="message" id="message" required></p>
    <input type="submit" value="Submit">
</form>
</center>
</html>